<!-- In this login page, if users are authenticated then they are able to
     login. That is if they are new to site they have to sign up first
     otherwise they will get error msg i.e Your username and password
     didn't match. Please try again. -->

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'mysite1/style.css'%}" />

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Username</label>
            <input type="text" name="username">
        </p>
        <p>
            <label>Password</label>
            <input type="password" name="password">
        </p>
        <button type="submit">Login</button>
    </form>
</body>
</html>